In [56]:
import os
import pandas as pd
import matplotlib.pyplot as plt


fame = {}
for i in os.listdir('data/GC_chi01_output_noclusterevolv/'):
    name = 'data/GC_chi01_output_noclusterevolv/' + str(i) + '/nth_generation.txt'
    fame[str(i)] = pd.read_csv(name, delimiter=' ', skiprows=1, header=None)
    fame[str(i)].drop(fame[str(i)].columns[[5, 6, 7, 8, 10, 11, 12, 14, 18, 19, 20, 21, 22, 23, 24, 26]], axis=1, inplace=True)
display(fame['0.012'])

,0,1,2,3,4,9,13,15,16,17,25,27
0,72,42.863267,12.057043,0.717502,0.149036,307.174987,6681.040018,52.533725,0.842818,67.002057,2.189381e+06,2
1,136,30.956327,27.832721,0.737173,0.109740,77.422376,925.768398,54.976925,0.820693,50.580621,6.171573e+05,2
2,191,28.549238,22.475507,0.728393,0.119595,824.444908,12356.672023,47.684799,0.831321,71.501841,2.981196e+06,2
3,209,66.674765,37.303653,0.735199,0.097003,105.364148,539.236576,97.468731,0.849032,52.884473,1.132507e+06,2
4,213,20.205933,19.630820,0.717912,0.142823,258.262021,7882.005143,37.276334,0.814713,47.915447,8.184288e+05,2
...,...,...,...,...,...,...,...,...,...,...,...,...
22981,48840,214.631257,141.959145,0.920027,0.896051,37.270786,628.700134,322.304864,0.934563,79.989320,2.249051e+06,4
22982,139141,42.676242,33.671857,0.888157,0.086193,128.235105,5404.374098,70.981208,0.856164,94.430776,2.357359e+06,4
22983,161086,32.641974,18.349185,0.850081,0.152584,191.366604,9167.560944,47.467675,0.880892,70.822124,1.628147e+06,4
22984,189050,56.344341,49.130588,0.896051,0.107550,319.126388,11785.236730,98.096519,0.848435,105.993245,5.050569e+06,4
22985,582093,47.255201,39.364534,0.838020,0.137850,48.086861,1928.704030,80.622314,0.847344,96.018163,1.570821e+06,4